
<div class="container"  [hidden]="submitted">
<div class="row">
	<div class="col-md-9">
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <div class="form-group">
   
    <input type="text" class="form-control" name="name" [(ngModel)]="contact.name" placeholder="..." >
  </div>
  <div class="form-group">
   
  <input type="text" class="form-control"  name="bio" [(ngModel)]="contact.bio" placeholder="..." >
  </div>

  <button class="btn btn-default" (click)='onNewcontact()'>Submit</button>
</form>


</div>
</div>
</div>


<div [hidden]="!submitted">
    <h4>YThanks for reaching out <b>{{ contact.name }}</b> ... very interesting bio..<b>{{ contact.bio }}</b> we get in touch soon .. expect us ! </h4>
</div>
